:root {
    --cor-base: #85ccc0;
    --branco:#f12b2bcb;
  }
  html {
    background-color: var(--cor-base);
    color: var(--vermelho);
    font-family: 'Chakra Petch', sans-serif;
   
}
  
  