:root {
    --cor-base: #85ccc0;
    --branco:#f100a1cb;
  }
  html {
    background-color: var(--cor-base);
    color: var(--rosa);
    font-family: 'Chakra Petch', sans-serif;
   
}
  
  